spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookmyshow_db
    username: postgres
    password: Ezhil@2021

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

